<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slider_items_grid_data_source" xsi:type="string">AlphaTech\Slider\Model\ResourceModel\Slider\Item\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AlphaTech\Slider\Model\ResourceModel\Slider\Item\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">alphatech_slider_items</argument>
            <argument name="resourceModel" xsi:type="string">AlphaTech\Slider\Model\ResourceModel\Slider\Item</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlphaTechSliderItemImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">alphatech_slider/tmp/items</argument>
            <argument name="basePath" xsi:type="string">alphatech_slider/items</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="AlphaTech\Slider\Controller\Adminhtml\Items\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">AlphaTechSliderItemImageUploader</argument>
        </arguments>
    </type>
    <type name="AlphaTech\Slider\Controller\Adminhtml\Items\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">AlphaTechSliderItemImageUploader</argument>
        </arguments>
    </type>
</config>
